{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="static/js/main.js" ></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Calculator</title>
</head>
<body>
     
    
    <div class="container container-fluid" id="calc_title">
        <div class="justify-content-center body">
            <h2>Calculator App</h2>    
            <form action="{% url 'calculate' %}" method="POST">
                {% csrf_token %}                
                
                    <input type="text" value="{{ answer }}" class="form-control" id="my_answer" readonly>
                <br/>
                
                <input type="text" name="first_number" class="form-control" placeholder="Enter First Number" required>
                <br/>
                <input type="text" name="operation" class="form-control" placeholder="Operation(+, -, /, *, ^)" required>
                <br/>
                <input type="text" name="second_number" class="form-control" placeholder="Enter Second Number" required>
                <br/> 
                <button type="submit" class="btn btn-outline-success" value="calculate" >Calculate</button>
            </form>
            <br/>

        <h4>History</h4>   
        <!-- <button type="submit" class="btn btn-success btn-lg" value="History"><a href="{% url 'history' %}">History</a></button>
        <br/> -->

        {% if computations %}
            {% for computation in computations %}
                <table>
                    <tr>
                        <td>{{ computation }} = {{ computation.answer }}</td>
                    </tr>
                </table>
                
            {% endfor %}
        {% endif %}
        </div>
    </div>

    
</body>
</html>