<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Calculator App</h1>

    <form action="{% url 'calculate' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="answer" hidden>
        <br/>
        <input type="text" name="first_number" placeholder="Enter First Number" required>
        <br/>
        <input type="text" name="operation" placeholder="Operation" required>
        <br/>
        <input type="text" name="second_number" placeholder="Enter Second Number" required>
        <br/>
        <button type="submit" value="Submit">Submit</button>
    </form>
    <br/>
    <button type="submit" value="History">History</button>
    <br/>
    
        <textarea style="width: 400; height: 200;" name="history" readonly>
            {% for computation in computations %}
                {{computation}}
            {% endfor %}
        </textarea>

    
</body>
</html>